# MacOS
.DS_Store
.localized
__MACOS__
.AppleDouble
.LSOverride
Icon[]

# Python
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
.pytest_cache
.pytest_cache/**
.ruff_cache
.ruff_cache/**

# Node
.npm

# llama.cpp
llama-server/.locks
llama-server/.locks/**
llama-server/models
llama-server/models/**
llama-server/logs
llama-server/logs/**

# Pi
pi-coding-agent/logs
pi-coding-agent/logs/**
pi-coding-agent/home/.pi/agent/bin
pi-coding-agent/home/.pi/agent/sessions

# Proxy
pi-coding-agent-proxy/.locks
pi-coding-agent-proxy/.locks/**
